<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <form method ="post" action="http://localhost:3001/<%=post.id%>?_method=PATCH">
        <h1><%=post.user%></h1>
        <br>
        <br>
        <textarea name="content" id="" cols="30" rows="10"><%=post.content%></textarea>
        <br>
        <br>
        <h6><%=post.id%></h6>
        <button type="submit">Save Changes Now</button>
    </form>
</body>
</html>