<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <% for(post of posts){ %>
    <div>
      <h1><%= post.user %></h1>
      <p><%= post.content %></p>
      <a href="http://localhost:3001/<%= post.id %>">View Post In Detail</a>
    </div>
    <% } %>
    <a href="http://localhost:3001/new">Create new post</a>
  </body>
</html>
